*{
  margin:0;
  padding:0;
}

body{
  text-align: center;
  color:black;
  font-size: 14px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

h1{
  margin:30px;
}

.languages{
  height: 400px;
  width: 400px;
  margin: 10px auto;
  display: flex;
  flex-direction:column; 
}

 .language{
  flex:1;
  display: flex;
  justify-content: space-between;
  align-items:center;
  padding:10px 40px;
  transition: background 1s;
  border: 3px solid rgb(39, 149, 240);
  border-radius: 7px;
  margin: 10px;
  text-transform: uppercase;
}

.language:hover{
  background-color: rgb(39, 149, 240);
  border: none;
  border-radius: 7px;
  opacity: 3;
  padding:20px 40px;
  text-align: center;
}

.voteCount{
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.language button{
  color:black;
  background:none;
  border:none;
  font-size: 18px;
  outline: none;
  cursor: pointer;
}

.language button:hover{
  color:white;
  font-weight: 600;
  margin-right: -5px;
  text-align:center;
}

